body{
    background: #dcdcdc;
    margin-top: 0;
    font-family: "Roboto",sans-serif;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.white-text{
    color: white !important;
}
.blue-text{
    color: #0084b4;
}
.grey-text{
    color: #656565;
}
.green-text{
    color: #01724c !important;
}
.lightgrey-text{
    color: #bcbcbc;
}
.bold-text{
    font-weight: bold;
}
.italic-text{
    font-style: italic;
}
.search-text{
    font-weight: 500;
}
.small-clear-right{
    margin-right: 15px;
}
.small-clear-left{
    margin-left: 15px;
}

/*Grid*/
@media (min-width: 1240px){
    .container {
        width: 1240px;
    }
}
@media (min-width: 1440px){
    .container {
        width: 1440px;
    }
    .navbar.container {
        max-width: 1440px !important;
        border: none !important;
        padding: 0 !important;
    }
}
.white-bg{
    background: white !important;
}

/* Header */
.black-header{
    height: 40px;
    background: #292929;
    padding:0 !important;
}
.black-header ul{
    list-style-type: none;
    margin-bottom: 0;
}
.black-header ul li{
    float: left;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.black-header .left li{
    float: left;
    color: white;
    margin-right: 10px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}
.black-header .left li i{
    -webkit-text-stroke: 1px #292929;
    font-size: 0.9em;
    margin-left: 6px;
}
.black-header .resources-tab{
    background: #4c9f38;
    margin-top: 0;
    height: 40px;
    padding: 10px;
    margin-right: 0;
}
.black-header .resources-tab.active{
    margin-top: -30px;
    height: 70px;
}
.black-header .events-tab{
    background: #01724c;
    margin-top: 0;
    height: 40px;
    padding: 10px;
    margin-right: 0;
}
.black-header .events-tab.active{
    margin-top: -30px;
    height: 70px;
}
.black-header .events-tab i.fa-chevron-down{
    -webkit-text-stroke: 1px #01724c;
    margin-left: 15px;
}
.black-header .events-tab i.fa-chevron-up{
    -webkit-text-stroke: 1px #01724c;
    margin-left: 15px;
}
.black-header .resources-tab i.fa-chevron-down{
    -webkit-text-stroke: 1px #4c9f38;
    margin-left: 15px;
}
.black-header .resources-tab i.fa-chevron-up{
    -webkit-text-stroke: 1px #4c9f38;
    margin-left: 15px;
}
.black-header .language-tab{
    margin-top: 0;
    height: 40px;
    border-left: 1px solid #dcdcdc;
    padding-left: 7px;
    padding-top: 10px;
}
.black-header .language-tab i.fa-chevron-down{
    -webkit-text-stroke: 1px #000;
    margin-left: 15px;
}
.black-header .dropdown-menu{
    border-radius: 0;
    max-width: 220px;
    overflow-y: hidden;
    margin-left: -35px;
    margin-top: 10px;
}
@media screen and (min-width: 1200px){
    .navbar.container {
        max-width: 1240px;
        border: none !important;
        padding: 0 !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .navbar.container {
        max-width: 970px;
    }
}

header{
    border-radius: 0 !important;
    border: none !important;
    height: 70px;
    background: #fff !important;
    margin-bottom: 2px !important;
}
.logo-wrapper{
    padding: 0;
    margin-left: 15px;
}
.logo-wrapper img{
    height: 55px;
}

/*Main*/
.main-container{
    background: transparent;
    padding-top: 10px;
}

@media (min-width: 768px){
    .navbar-header {
        float: right !important;
    }
}

/*Collapsible nav*/

.showblue{
    min-height: 200px;
    background: #0084b4;
    position: absolute;
    height: 340px;
    width: 100%;
    margin-left: 0px;
    margin-top: -2px;
    z-index: 100;
    overflow: hidden;
}
.latest-post-wrapper{
    border-left: 1px solid #dcdcdc;
    margin-top: 50px;
    padding-left: 40px;
}
.latest-post-wrapper a{
    text-decoration: none;
}
.latest-post-wrapper img{
    height: 139px;
    width: 75%;
    object-fit: cover;
}
.latest-post-wrapper .title{
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 6px;
    display: block;
    width: 75%;
}
.latest-post-wrapper .resource-type{
    font-weight: 700;
    margin-bottom: 10px;
}
.showblue .links-collection{
    padding-top: 50px;
}
.showblue .links-collection span{
    display: block;
    margin-bottom: 15px;
}
.showblue .links-collection span a{
    color: white;
    font-size: 1.1em;
}

/*replacement menu*/
.replacement-container{
    background: #333333;
    padding-top: 30px;
    padding-bottom: 65px;
}
.replacement-container .resource-link{
    color: white;
    font-weight: 700;
    font-size: 1.4em;
}
.replacement-controls{
    min-height: 60px;
    margin-bottom: 30px;
}
.replacement-controls .black-selector{
    background: none;
    border: 2px solid white;
    border-radius: 0;
    padding: 2px;
    color: white;
    float: left;
    width: 45%;
    margin-right: 5%;
}
.replacement-title{
    text-transform: capitalize;
    font-size: 2.3em;
    color: #e2e2e2;
}
.replacement-container .single-resource{
    min-height: 100px;
    height: 200px;
}
.replacement-shutdown{
    color: #6a6c6c;
    text-align: right;
    font-size: 1.4em;
    text-transform: uppercase;
    cursor: pointer;
}
.replacement-shutdown i{
    -webkit-text-stroke: 1px #333333;
}

/*Image banner*/
.image-banner{
    padding: 0;
    margin-top: -10px;
    max-height: 630px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.image-banner img{
    max-height: 630px;
    object-position: center;
    object-fit: cover;
    width: 100%;
}
.bannerpattern{
    position: absolute;
    bottom: -227px;
    left: -9%;
    width: 50% !important;
    z-index: 100;
}
.image-banner .message-wrapper{
    position: relative;
    top: -385px;
    color: white;
    padding-left: 40px;
}
.image-banner .message-wrapper span:first-child{
    display: block;
    font-size: 2em;
    font-weight: bold;
}
.image-banner .message-wrapper span:last-child{
    font-family: Permanent Marker;
    font-size: 5em;
    max-width: 386px;
    display: block;
    line-height: 1;
}

.section-first{
    padding-top: 30px;
    background: white;
}

.section-first .challenges{
    max-width: 1240px;
    min-height: 600px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
}
.section-first .challenge-img-cluster {
    position: relative;
    width: 50%;
    float: right;
    text-align: center;
}
.section-first .challenge-text-wrap {
    width: 515px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    color: #01724c;
}
.section-first .green-bar {
    width: 140px;
    height: 8px;
    margin-bottom: 20px;
    background-color: #01724c;
    opacity: 0;
    -webkit-transform: translate(-10px, 0px);
    -ms-transform: translate(-10px, 0px);
    transform: translate(-10px, 0px);
}
.section-first .noto-headline.green {
    margin-top: 0px;
    opacity: 0;
    -webkit-transform: translate(-10px, 0px);
    -ms-transform: translate(-10px, 0px);
    transform: translate(-10px, 0px);
    color: #01724c;
}
.section-first .noto-headline {
    /*font-family: 'Notosans bold', sans-serif;*/
    color: #000;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    font-weight:700;
}
.section-first .noto-paragraph{
    font-size: 1.6em;
}
.section-second{
    padding: 0;
}
.challenge-icon-1 {
    position: absolute;
    left: -510px;
    top: 329px;
    right: 32px;
    bottom: 0px;
    z-index: 15;
    display: block;
    width: 220px;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.challenge-icon-2 {
    position: absolute;
    left: -177px;
    top: 479px;
    z-index: 15;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.challenge-icon-3 {
    position: absolute;
    left: 160px;
    top: 461px;
    z-index: 15;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.challenge-icon-4 {
    position: absolute;
    top: 374px;
    right: -2px;
    z-index: 15;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.challenge-icon-5 {
    position: absolute;
    top: 37px;
    right: 0px;
    z-index: 15;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.dotted-mask-1 {
    position: absolute;
    left: -431px;
    top: 293px;
    right: -4px;
    z-index: 3;
    width: 500px;
    height: 50px;
    background-color: #fff;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    display: none;
}
.dotted-mask-2 {
    position: absolute;
    left: -147px;
    top: 391px;
    z-index: 3;
    width: 300px;
    height: 50px;
    background-color: #fff;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.dotted-mask-3 {
    position: absolute;
    left: 125px;
    top: 376px;
    z-index: 3;
    width: 200px;
    height: 50px;
    background-color: #fff;
    -webkit-transform: rotate(-83deg);
    -ms-transform: rotate(-83deg);
    transform: rotate(-83deg);
}
.dotted-mask-4 {
    position: absolute;
    left: 305px;
    top: 307px;
    z-index: 3;
    width: 200px;
    height: 50px;
    background-color: #fff;
    -webkit-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
    transform: rotate(33deg);
    display: none;
}
.dotted-mask-5 {
    position: absolute;
    left: 352px;
    top: 90px;
    z-index: 3;
    width: 200px;
    height: 50px;
    background-color: #fff;
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    display: none;
}
.dots-1 {
    position: absolute;
    left: -412px;
    top: 260px;
    z-index: 2;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    font-family: Montserrat, sans-serif;
    color: #ccc;
    font-size: 30px;
    letter-spacing: 8px;
}
.dots-2 {
    position: absolute;
    left: -159px;
    top: 363px;
    z-index: 2;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    font-family: Montserrat, sans-serif;
    color: #ccc;
    font-size: 30px;
    letter-spacing: 8px;
}
.dots-3 {
    position: absolute;
    left: 137px;
    top: 394px;
    z-index: 2;
    -webkit-transform: rotate(-83deg);
    -ms-transform: rotate(-83deg);
    transform: rotate(-83deg);
    font-family: Montserrat, sans-serif;
    color: #ccc;
    font-size: 30px;
    letter-spacing: 8px;
}
.dots-4 {
    position: absolute;
    left: 294px;
    top: 302px;
    z-index: 2;
    -webkit-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
    transform: rotate(33deg);
    font-family: Montserrat, sans-serif;
    color: #ccc;
    font-size: 30px;
    letter-spacing: 8px;
}
.dots-5 {
    position: absolute;
    left: 300px;
    top: 112px;
    z-index: 2;
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    font-family: Montserrat, sans-serif;
    color: #ccc;
    font-size: 30px;
    letter-spacing: 8px;
}
.challenge-globe {
    position: absolute;
    left: 62px;
    top: 55px;
    right: 24%;
    bottom: 0px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    height: 260px;
}
.another-dot-mask {
    position: absolute;
    left: 58px;
    top: 33px;
    z-index: 3;
    width: 300px;
    height: 300px;
    background-color: #fff;
}
.challenge-globe-shadow {
    position: absolute;
    left: -71px;
    top: 381px;
    right: 20px;
    bottom: 0px;
    z-index: 4;
    opacity: 0;
}