.illustration-text {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 5px;
}
.see-work-wrap {
    width: 25%;
    padding: 20px 0px 20px 40px;
    float: right;
}
.green-dropdown {
    width: 100%;
    border: 3px solid #01724c;
    color: #01724c;
}
.unep-role-div {
    overflow: scroll;
    height: 550px;
}
.unep-role-card-wrap {
    width: 3100px;
    padding-top: 75px;
    padding-bottom: 280px;
    padding-left: 50px;
}
.unep-role-card {
    z-index: 10;
    display: block;
    /* width: 400px;*/
    /* margin-right: 30px;*/
    margin-left: 0px;
    padding-bottom: 20px;
    float: left;
    background-color: #f0f0f0;
}
.unep-role-text{
    font-weight: 700;
    font-size: 2.4em;
}

.roleslider .single-news{
    width: 460px;
    height: 300px;
    background: gainsboro;
    margin-right: 30px;
}
.roleslider .single-news .title{
    font-size: 2em;
    font-weight: 700;
    display: block;
    padding: 5px;
}
.roleslider .single-news .description{
    display: none;
}
.roleslider .single-news:hover {
    background: white;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.2);
    height: 400px;
    margin-top: -28px;
    position: relative;
}
.roleslider .single-news:hover .description{
    display: block;
}